[includeIf "gitdir:~/"]
  path = ~/dotfiles/git/personal/.gitconfig
[includeIf "gitdir:~/bluearrow/"]
  path = ~/dotfiles/git/work/.gitconfig
[includeIf "gitdir:~/wgu/"]
  path = ~/dotfiles/git/school/.gitconfig

[init]
	defaultBranch = main
[core]
	editor = nvim
[web]
	browser = google-chrome
[diff]
	tool = nvim -d 
[merge]
	tool = nvim -d
